[Unit]
Description=giveweather server for jessie
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c '/home/pi/src/weatherstation/giveweather.py >>/var/log/house/giveweather.log 2>&1'
Restart=always

[Install]
WantedBy=multi-user.target

